@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "notokrR",Malgun Gothic,"맑은 고딕",AppleGothic,Dotum,"돋움",sans-serif;
    font-size: 14px;
    line-height: 1.4;
    letter-spacing: -0.5px;
}
li{
    text-decoration: none;
    display: inline-block;
}
/*header*/
.navbar{
    width: 100%;
    position: fixed;
    top: 0;
    background: #000;
    height: 100px;
}
.navbar a{
    float: left;
    font-weight: 500;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    word-spacing: 4px;
    font-size: 15.5px;
}
.container{
    width: 48.4%;
    float: left;
    overflow: hidden;
    margin-left: 407px;
    margin-top: 26.7px;
}
.container-sub1, .container-sub2{
    display: none;
    position: fixed;
    width: 100%;
    left: 0;
    z-index: 10;
    top: 96px;
    height: 430px;
    background: #333;
}
.wrap1:hover .container-sub1, .wrap1:hover .tri div{
    display: block;
}
.wrap2:hover .container-sub2, .wrap2:hover .tri2 div{
    display: block;
    height: 200px;
}
.tri, tir2{
    width: 100%;
}
.tri div, .tri2 div{
    display: none;
    color: #333;
    width: 18px;
    margin: 0 auto;
    margin-top: 52px;
}
.wrap1, .wrap2{
    height: 98px;
    float: left;
}
.column-wrap{
    display: flex;
    width: 80%;
    margin: 0 auto;
}
.container-sub2 .column-wrap{
    margin-left: 24%;
}
.column{
    margin: 0 auto;
    justify-content: center;
    margin-top: 22px;
    color: #ddd;
    text-align: center;
}
.container-sub2 .column-wrap{
    width: 57%;
}
.column a{
    display: block;
    float:none;
    color: #999;
    font-size: 13.7px;
    letter-spacing: -1px;
    word-spacing: -2px;
    padding: 11px 0px;
}
.column a:hover{
    color: white;
}
.column h3{
    color: white;
    padding-top: 17px;
    font-size: 17px;
    padding-bottom: 17px;
}
.column a, .column h3{
    text-align: left;
}
.row:after{
    content: ' ';
    display: table;
    clear: both;
}
#lushlogo{
    width: 95px;
    height: 28px;
    position: fixed;
    z-index: 10;
    top: 36px;
    left: 40px;
}
#menu{
    margin-top: 37px;
}
#menu li img{
    width: 33px;
    height: 33px;
    vertical-align: middle;
}
#menu li{
    margin-right: 22px;
}
#menu #info{
    margin-left: 50px;
}
#menu li:nth-child(3){
    position: relative;
    height: 50px;
}
#menu li:nth-child(3):hover .pop_mypage{
    display: block;
}
.pop_mypage{
    display: none;
    width: 220px;
    height: 50px;
    position: absolute;
    top: 38px;
    right: 0;
}
.pop_mypage ul{
    -webkit-padding-start: 0px;
    width: 100%;
    height: 185px;
    text-align: center;
}
.pop_mypage ul li{
    text-decoration: none;
    display: block;
    width: 100%;
    height: 46px;
    list-style: none;
    background-color: white; 
    border: 1px solid #ddd;
}
.pop_mypage ul li a{
    color: black;
    position: relative;
    width: 100%;
    font-size: 12px;
}
/*mainImg*/
#main_image{
    max-width: 100%;
    height: 560px;
    margin-top: 88px;
} 
#main_image img{
    height: 500px;
}
/*sidebar*/
aside{
    position: fixed;
    right: 30px;
    bottom: 30px;
}
aside #side{
width: 60px;
height: 90px;
border-radius: 50px;
background-color: #ffe812;
text-align: center;
}
aside #side div img{
width: 45px;
height: 50px;
padding-top: 10px;
border-radius: 50px;
}
aside #side span{
color: #3b1d1e;
}
/*main*/
#main{
    width: 90%;
    height: 1000px;
    margin: 0 auto;
    margin-bottom: 100px;
}
h1{
    padding: 15px 0px;
    display: inline-block;
    font-size: 28px;
}
.produc_option{
    float: right;
    margin-top: 20px;
    font-size: 14px;
    width: 100px;
    height: 30px;
}
#main_top{
    border-bottom: 2px solid black;
}
#category{
    margin-top: 20px;
}
#category li{
    padding-right: 20px;
    font-size: 14px;
    font-weight: bold;
    color: #aaaaaa;
}
#box{
    height: 1100px;
    margin-top: 40px;
    padding-bottom: 40px;
}
#box div{
    float: left;
}
.prodBox{
    width: 22%;
    text-align: center;
    font-size: 14px;
    margin: 0px 15px;
}
#box div img{
    width: 100%;
    height: 269px;
}
.prodBox .prodInfo{
    clear: left;
    display: inline-block;
    width: 80px;
    height: 25px;
    font-size: 12px;
    font-weight: bold;
    border-radius: 20px;
    margin: 0 auto;
}
.prodBox .n1{
    border: 2px solid purple;
    color: purple;
}
.prodBox .n2{
    border: 2px solid red;
    color: red;
}
.prodBox .s1{
    background-color:seagreen;
}
.prodBox .s2{
    background-color: red;
}
.prodBox .s3{
    background-color: olivedrab;
}
.prodBox .s1, .prodBox .s2, .prodBox .s3{
    color: white;
    padding-top: 3px;
}
.prodBox p{
    color: #999999;
}
h4{
    padding: 6px;
    font-size: 1.1em;
}
h3{
    padding-top: 16px;
    color: #0F1829;
}
/*푸터*/
#under_img{
    width: 100%;
}
#under_img img{
    height: 167px;
    width: 100%;
}
footer{
    color: white;
    background-color: black;
}
#footerBox{
    width: 75%;
    height: 400px;
    margin: 0 auto;
    padding-top: 40px;
}
#footerBox img{
    width: 90px;
    height: 30px;
}
#secLeft{
    float: left;
    width: 25%;
    height: 320px;
}
#secLeft p{
    font-size: 80%;
    padding-top: 6px;
}
#secLeft li img{
    width: 40px;
    height: 40px;
    border-radius: 17px;
}
#secRight{
    float: right;
    width: 70%;
    height: 320px;
}
#secRight li{
    padding-right: 30px;
    font-size: 14px;
    opacity: 0.9;
    font-weight: bold;
}
#person{
    color: yellow;
}
.space{
    height: 50px;
}
#secRight form{
    margin-bottom: 15px;
}
#secRight input{
    width: 53%;
    height: 31px;
    padding-left: 20px;
}
button{
    width: 14%;
    height: 30px;
    background-color: black;
    color: white;
    border: 1px solid white;
}
#newsletter{
    width: 67%;
    line-height: 190%;
}
#newsletter span{
    font-size: 90%;
    opacity: 0.9;
}
#secRight p{
    font-size: 78%;
    color: white;
    opacity: 0.8;
    padding-bottom: 6px;
}
/*회원가입 공통내용*/
.joinRoot{
    width: 90%;
    height: 250px;
    margin: 0 auto;
    margin-top: 99px;
}
.common_join p{
    font-family: 'Work Sans', sans-serif;
    font-weight: 800;
    font-size: 44px;
    text-align: center;
    padding-top: 80px;
}
#join_info{
    margin-top: 18px;
    text-align: center;
    font-weight: 900;
}
#join_info li::before{
    padding-right: 8px;
    content: ">";
}
#join_info li:nth-child(1)::before{
    content: "";
}
#join_info li{
    padding-right: 20px;
    font-weight: bold;
    color: #aaa;
}
/*회원가입 - 유형선택*/
.choose{
    height: 240px;
}
#p-unMargin{
    padding-bottom: 16px;
}
#choose-type{
    width: 90%;
    margin: 0 auto;
}
#choose-type #wrap-sns{
    margin: 0 auto;
    width: 450px;
    padding-bottom: 150px;
}
.sns-login{
    width: 400px;
    height: 57px;
    border: 1px solid black;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 12px;
}
.sns-login a{
    width: 100%;
    height: 57px;
    line-height: 57px;
    font-size: 14.5px;
    font-weight: 600;
    text-decoration: none;
    color: black;
}
.sns-login:first-child{
    background-color: black;
}
.sns-login:first-child a{
    color: white;
}
#wrap-sns .caution{
    width: 86%;
    padding-top: 5px;
    font-size: 13px;
    font-weight: bold;
    color: #999;
    margin: 0 auto;
    text-align: center;
    min-height: 17px;
    line-height: 20px;
}
#wrap-caution{
    padding-top: 40px;
    text-align: center;
}
#wrap-caution p, a{
    font-size: 11.5px;
    font-weight: bold;
    color: #666;
}
/*회원가입 - 정보입력*/
.notice_in span, #makeAcc span{
    color: red;
    padding-right: 6px;
}
#joinInput{
    width: 90%;
    margin: 0 auto;
    height: 600px;
}
#joinHr{
    border-bottom: 2px solid black;
    height: 50px;
}
#joinHr .basic_in{
    font-size: 24px;
    font-weight: 900;
    float: left;
    border: 2px solid burlywood;
    margin-top: 10px;
    margin-left: 5px;
}
#joinHr .notice_in{
    float: right;
    margin-top: 22px;
    font-size: 12px;
    font-weight: 600;
    color: #BDBDBD;
}
#makeAcc label{
    border: 1px solid red;
    margin-left: 22px;
}
#makeAcc input[type=text], #makeAcc input[type=password]{
    width: 20%;
    height: 30px;
    border: 1px solid #BDBDBD;
}
#makeAcc input{
    margin-left: 10px;
}