@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "notokrR",Malgun Gothic,"맑은 고딕",AppleGothic,Dotum,"돋움",sans-serif;
    font-size: 14px;
    line-height: 1.4;
    letter-spacing: -0.5px;
}
li{
    text-decoration: none;
    display: inline-block;
}
/*header*/
.navbar{
    width: 100%;
    position: fixed;
    top: 0;
    background: #000;
    height: 100px;
}
.navbar a{
    float: left;
    font-weight: 500;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    word-spacing: 4px;
    font-size: 15.5px;
}
.container{
    width: 48.4%;
    float: left;
    overflow: hidden;
    margin-left: 390px;
    margin-top: 26.7px;
}
.container-sub1, .container-sub2{
    display: none;
    position: fixed;
    width: 100%;
    left: 0;
    z-index: 10;
    top: 96px;
    height: 430px;
    background: #333;
}
.wrap1:hover .container-sub1, .wrap1:hover .tri div{
    display: block;
}
.wrap2:hover .container-sub2, .wrap2:hover .tri2 div{
    display: block;
    height: 200px;
}
.tri, tir2{
    width: 100%;
}
.tri div, .tri2 div{
    display: none;
    color: #333;
    width: 18px;
    margin: 0 auto;
    margin-top: 52px;
}
.wrap1, .wrap2{
    height: 98px;
    float: left;
}
.column-wrap{
    display: flex;
    width: 80%;
    margin: 0 auto;
}
.container-sub2 .column-wrap{
    margin-left: 24%;
}
.column{
    margin: 0 auto;
    justify-content: center;
    margin-top: 22px;
    color: #ddd;
    text-align: center;
}
.container-sub2 .column-wrap{
    width: 57%;
}
.column a{
    display: block;
    float:none;
    color: #999;
    font-size: 13.7px;
    letter-spacing: -1px;
    word-spacing: -2px;
    padding: 11px 0px;
}
.column a:hover{
    color: white;
}
.column h3{
    color: white;
    padding-top: 17px;
    font-size: 17px;
    padding-bottom: 17px;
}
.column a, .column h3{
    text-align: left;
}
.row:after{
    content: ' ';
    display: table;
    clear: both;
}
#lushlogo{
    width: 95px;
    height: 28px;
    position: fixed;
    z-index: 10;
    top: 36px;
    left: 40px;
}
#menu{
    margin-top: 37px;
}
#menu li img{
    width: 33px;
    height: 33px;
    vertical-align: middle;
}
#menu #info{
    margin-left: 50px;
}
#menu li .threeImg{
    width: 50px;
    height: 37px;
    padding: 0px;
}
#menu li:nth-child(3){
    position: relative;

}
#menu li:nth-child(3):hover .pop_mypage{
    display: block;
}
.pop_mypage{
    display: none;
    width: 220px;
    height: 50px;
    position: absolute;
    top: 38px;
    right: 0;
}
.pop_mypage ul{
    -webkit-padding-start: 0px;
    width: 100%;
    height: 185px;
    text-align: center;
}
.pop_mypage ul li{
    text-decoration: none;
    display: block;
    width: 100%;
    height: 46px;
    list-style: none;
    background-color: white; 
    border: 1px solid #ddd;
}
.pop_mypage ul li a{
    color: black;
    position: relative;
    width: 100%;
    font-size: 12px;
}
.pop_mypage ul li:hover{
    background-color: black;
}
.pop_mypage ul li a:hover{
    color: white; 
}
/*mainImg*/
#main_image{
    max-width: 100%;
    height: 560px;
    margin-top: 88px;
} 
#main_image img{
    height: 500px;
}
/*sidebar*/
aside{
    position: fixed;
    right: 30px;
    bottom: 30px;
}
aside #side{
width: 60px;
height: 90px;
border-radius: 50px;
background-color: #ffe812;
text-align: center;
}
aside #side div img{
width: 45px;
height: 50px;
padding-top: 10px;
border-radius: 50px;
}
aside #side span{
color: #3b1d1e;
}
/*main*/
#main{
    width: 90%;
    height: 1000px;
    margin: 0 auto;
    margin-bottom: 100px;
}
h1{
    padding: 15px 0px;
    display: inline-block;
    font-size: 28px;
}
.produc_option{
    float: right;
    margin-top: 20px;
    font-size: 14px;
    width: 100px;
    height: 30px;
}
#main_top{
    border-bottom: 2px solid black;
}
#category{
    margin-top: 20px;
}
#category li{
    padding-right: 20px;
    font-size: 14px;
    font-weight: bold;
    color: #aaaaaa;
}
#box{
    height: 1100px;
    margin-top: 40px;
    padding-bottom: 40px;
}
#box div{
    float: left;
}
.prodBox{
    width: 22%;
    text-align: center;
    font-size: 14px;
    margin: 0px 15px;
}
#box div img{
    width: 100%;
    height: 269px;
}
.prodBox .prodInfo{
    clear: left;
    display: inline-block;
    width: 80px;
    height: 25px;
    font-size: 12px;
    font-weight: bold;
    border-radius: 20px;
    margin: 0 auto;
}
.prodBox .n1{
    border: 2px solid purple;
    color: purple;
}
.prodBox .n2{
    border: 2px solid red;
    color: red;
}
.prodBox .s1{
    background-color:seagreen;
}
.prodBox .s2{
    background-color: red;
}
.prodBox .s3{
    background-color: olivedrab;
}
.prodBox .s1, .prodBox .s2, .prodBox .s3{
    color: white;
    padding-top: 3px;
}
.prodBox p{
    color: #999999;
}
h4{
    padding: 6px;
    font-size: 1.1em;
}
h3{
    padding-top: 16px;
    color: #0F1829;
}
/*푸터*/
#under_img{
    width: 100%;
}
#under_img img{
    height: 167px;
    width: 100%;
}
footer{
    color: white;
    background-color: black;
    margin-top: 100px;
}
#footerBox{
    width: 75%;
    height: 400px;
    margin: 0 auto;
    padding-top: 40px;
}
#footerBox img{
    width: 90px;
    height: 30px;
}
#secLeft{
    float: left;
    width: 25%;
    height: 320px;
}
#secLeft p{
    font-size: 80%;
    padding-top: 6px;
}
#secLeft li img{
    width: 40px;
    height: 40px;
    border-radius: 17px;
}
#secRight{
    float: right;
    width: 70%;
    height: 320px;
}
#secRight li{
    padding-right: 30px;
    font-size: 14px;
    opacity: 0.9;
    font-weight: bold;
}
#person{
    color: yellow;
}
.space{
    height: 50px;
}
#secRight form{
    margin-bottom: 15px;
}
#secRight input{
    width: 53%;
    height: 31px;
    padding-left: 20px;
}
button{
    width: 14%;
    height: 30px;
    background-color: black;
    color: white;
    border: 1px solid white;
}
#newsletter{
    width: 67%;
    line-height: 190%;
}
#newsletter span{
    font-size: 90%;
    opacity: 0.9;
}
#secRight p{
    font-size: 78%;
    color: white;
    opacity: 0.8;
    padding-bottom: 6px;
}
/*회원가입 공통내용*/
.joinRoot{
    width: 90%;
    height: 280px;
    margin: 0 auto;
    margin-top: 99px;
}
.common_join p{
    font-family: 'Work Sans', sans-serif;
    font-weight: 800;
    font-size: 44px;
    text-align: center;
    padding-top: 80px;
}
#join_info{
    font-weight: 900;
    margin-top: 35px;
    text-align: center;
}
#join_info li{
    font-size: 15px;
}
#join_info li::before{
    padding-right: 8px;
    content: ">";
}
#join_info li:nth-child(1)::before{
    content: "";
}
#join_info li{
    padding-right: 20px;
    font-weight: bold;
    color: #aaa;
}
/*회원가입 - 유형선택*/
.choose{
    height: 240px;
}
#p-unMargin{
    padding-bottom: 16px;
}
#choose-type{
    width: 90%;
    margin: 0 auto;
}
#choose-type #wrap-sns{
    margin: 0 auto;
    width: 450px;
    padding-bottom: 150px;
}
.sns-login, .submit-log{
    width: 350px;
    height: 50px;
    border: 1px solid black;
    text-align: center;
    margin: 0 auto;
}
.sns-login{
    margin-bottom: 12px;
}
.sns-login a{
    width: 100%;
    height: 57px;
    line-height: 57px;
    font-size: 14.5px;
    font-weight: 600;
    text-decoration: none;
    color: black;
}
.sns-login:first-child{
    background-color: black;
}
.sns-login:first-child a{
    color: white;
}
#wrap-sns .caution{
    width: 86%;
    padding-top: 5px;
    font-size: 13px;
    font-weight: bold;
    color: #999;
    margin: 0 auto;
    text-align: center;
    min-height: 17px;
    line-height: 20px;
}
#wrap-caution{
    padding-top: 40px;
    text-align: center;
}
#wrap-caution p, a{
    font-size: 11.5px;
    font-weight: bold;
    color: #666;
}
/*회원가입 - 약관동의*/
input[type="checkbox"]{
    display: none;
}
#joinInput #all-agree{
    clear: left;
    min-height: 22px;
    line-height: 20px;
    color: #8f8f8f;
    font-size: 14px;
    z-index: -1;
}
#all-agree .off, #user-login .off{
    padding: 0 0 5px 30px;
    background: #fff url(./img/check-off.png) no-repeat left top;
}
#all-agree .off:hover{
    padding: 0 0 5px 30px;
    background: #fff url(./img/check-ov.png) no-repeat left top;
}
#all-agree .on{
    padding: 0 0 5px 30px;
    background: #fff url(./img/check-on.png) no-repeat left top;
}
.totalCk, #all-agree{
    margin: 25px 0px 23px 8px;
}
#all-agree .off, #agree1 .off, #agree2 .off, #agree3 .off{padding: 0 0 5px 30px;}
.tb-left .off{
    clear: left;
    border: 1px solid red;
    padding: 5px 10px;
    position: relative;
    top: 30px;
    vertical-align: middle;
}
.tb-left .on{
    clear: left;
    border: 1px solid red;
    padding: 5px 10px;
    position: relative;
    top: 30px;
    vertical-align: middle;
}
#agree1 .off, #agree2 .off, #agree3 .off, .tb-left .off{
    background: #fff url(./img/check-off.png) no-repeat left top;
}
#agree1 .off:hover, #agree2 .off:hover, #agree3 .off:hover, .tb-left .off:hover{
    background: #fff url(./img/check-ov.png) no-repeat left top;
}
#agree1 .on, #agree2 .on, #agree3 .on, .tb-left .on{
    padding: 0 0 5px 30px;
    background: #fff url(./img/check-on.png) no-repeat left top;
}
form label{
    cursor: pointer;
}
.totalCk strong{
    color: red;
}
.aboutTerms{
    margin: 0 auto;
    display: block;
    width: 90%;
    height: 230px;
    overflow: scroll;
    overflow-x: hidden;
    border: 1px solid #aaa;
    padding: 15px 20px;
}
#t-container{
    width: 95%;
    margin: 0 auto;
    padding: 0px 20px 20px 20px;
}
#tableScroll{
    width: 100%;
    height: 90px;
}
.tb-left{
    float: left;
    width: 8.5%;
    height: 100%;
}
.tb-right{
    float: right;
    width: 91.5%;
    height: 100%;
    overflow: scroll;
    overflow-x: hidden;
    vertical-align: middle;
    padding: 13px 0px;
}
.thead tr td:nth-child(2), .tb-right p{padding-left: 30px;}
td{border-top: 1px solid black;}
td, .tb-left, .tb-right{border-bottom: 1px solid #ccc;}
.thead tr td:nth-child(1), .tb-left{border-right: 1px solid #ccc}
table{
    width: 95%;
    border-collapse: collapse;
}
td{
    background-color: #e6e6e6; 
    height: 50px;
}
table tr td:nth-child(1){
    width: 8.5%; 
    text-align: center;
}
.thead{width: 100%;}
.thead tr{font-weight: bold;}
/*이용약관 - 전체보기*/
#fullTerm{
    margin-top: 99px;
    height: auto;
}
#fullTerm #title{
    width: 93%;
    padding-top: 55px;
    margin: 0 auto;
}
#fullTerm div h3{
    border-bottom: 1px solid black;
    padding-bottom: 30px;
    margin-bottom: 25px;
    font-size: 23px;
}
#title p{
    line-height: 2.0;
    font-weight: 500;
}
/*회원가입 - 정보입력*/
.notice_in span, #makeAcc span{
    color: red;
    padding-right: 6px;
}
#joinInput{
    width: 85%;
    margin: 0 auto;
    height: auto;
}
#joinHr{
    border-bottom: 2px solid black;
    height: 50px;
    margin-bottom: 20px;    
}
#joinHr .basic_in{
    font-size: 24px;
    font-weight: 900;
    float: left;
    border: 2px solid red;
    padding-bottom: 15px;
    margin-top: 10px;
    margin-left: 5px;
}
#joinInput h3{
    width: 100%;
    font-size: 26px;
    font-weight: 900;
    float: left;
    border-bottom: 1px solid black;
    padding-bottom: 15px;
    margin-bottom: 20px;
}
#joinHr .notice_in{
    float: right;
    margin-top: 22px;
    font-size: 12px;
    font-weight: 600;
    color: #BDBDBD;
}
#makeAcc label{
    border: 1px solid red;
    margin-left: 22px;
}
#makeAcc input[type=text], #makeAcc input[type=password]{
    width: 20%;
    height: 30px;
    border: 1px solid #BDBDBD;
}
#makeAcc input{
    margin-left: 10px;
}
/*로그인 - 유형 선택*/
#choose-type{
}
.login{
    width: 90%;
    height: 280px;
    margin: 0 auto;
    margin-top: 99px;
    z-index: -10;
}
.login .topText{
    font-family: 'Work Sans', sans-serif;
    font-weight: 900;
    font-size: 27px;
    text-align: center;
    padding-top: 100px;
}
#typeOfuser{
    margin: 0 auto;
    width: 160px;
    padding-top: 60px;
}
#user a, #not-user a{
    font-size: 16.5px;
    font-weight: 500;
    border-bottom: 1px solid black;
}
#user{float: left;}
#not-user{float:right}
#user-login{
    padding-bottom: 80px;
}
#user-login a{
    text-decoration: none;
    font-size: 18px;
}
#user-login p{
    font-weight: bold;
    font-size: 12.5px;
    color: #8f8f8f;
    text-align: center;
    padding-top: 30px;
}
#id-wrap{
    width: 350px;
    margin: 0 auto;
}
.idBox, .pwBox{
    border: 1px solid black;
    width: 350px;
    height: 50px;
    margin: 0 auto;
    margin-bottom: 15px;
}
.idBox img, .pwBox img{
    width: 45px;
    height: 45px;
}
.idBox input[type=text], .pwBox input[type=password]{
    position: absolute;
    margin-top: 8px;
    width: 270px; 
    height: 30px;
    font-size: 17px;
    text-align: center;
    border: none;
    background: transparent;
}
.idBox input[type=text]:focus, .pwBox input[type=password]{
    outline: none;
}
.submit-log{
    background-color: black;
}
.submit-log a{
    color: white;
    position: relative;
    top: 10px;
}
.saveLabel{
    margin: 22px 0px 30px 0px;
}